<footer class="navbar">
    <a href="index.html" class="nav-btn">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
    </a> 
    <a href="Coleccion.html" class="nav-btn">
        <i class="fas fa-archive"></i>
        <span>Coleccion</span>
    </a>
    <a href="Sobres.html" class="nav-btn">
        <i class="fas fa-gift"></i>
        <span>Sobres</span>
    </a>        
    <a href="intercambio.html" class="nav-btn">
        <i class="fas fa-exchange-alt"></i>
        <span>Intercambio</span>
    </a>
</footer>